.webgl-content * {border: 0; margin: 0; padding: 0;}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 15px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px; } 
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;} 
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}

.webgl-content #gameContainer { border-radius: 15px; outline-style: solid; outline-color: #8BE61F33;}

*:focus{
outline: none;
}

html
{
	height: 100%;
	line-height : 1.3em;
}

body{
    background-color: #222222;
	color: lightgrey;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

.Header
{
	font-size: 28px;
	margin: 2px;
	border-radius: 8px;
	text-align: center;
	height: 110px;
	background-color: #00000066;
}

.Parent {
	height: inherit;
}

.Parent:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
	height: inherit;
	border-radius: 8px;
}

.left {
    width: 20%;
	height: 100%;
}

.right {
    width: 70%;
}

.Content{
	padding-left: 50px;
	padding-top: 50px;
	text-align: middle center;
}

.Sidebar {
	/*margin: 0 15px 0 15px;*/
	padding-top: 5px;
	background-color: #424242;
}

li 
{
	margin-bottom:8px;
}

.Sidebar list {
	margin-top: 25px;
	border: 25px;
}

.Sidebar li {
	padding: 5px;
    background-color: #333333;
    opacity: 0.7;
    border-radius: 7px;
    margin: 5px 15px 5px 15px;
    transition: opacity,background-color,margin-left  .4s ease-in;
    -moz-transition: opacity,background-color,margin-left .1s ease-in;
    -webkit-transition: opacity,background-color,margin-left .1s ease-in;
    -o-transition: opacity,background-color,margin-left .4s ease-in;
	list-style-type:none;
}

.Sidebar li:hover{
	background-color: #554333;
	opacity : 1;
	margin-left : 25px;
	transition: opacity,background-color,margin-left .4s ease-in;
    -moz-transition: opacity,background-color,margin-left .4s ease-in;
    -webkit-transition: opacity,background-color,margin-left .2s ease-in;
    -o-transition: opacity,background-color,margin-left .4s ease-in;
	}

a{
	
	font-size: 14px;
}

.box {
	font-size: 13px;
	margin: 8px;
	margin-bottom: 16px;
	
	padding: 6px;
	border-radius: 8px;
	background-color: #55555566;
	width: 85%;
}

.Sidebar a{
	text-decoration: none;
}
/* unvisited link */
a:link {
    color: #8BE61F;
}

/* visited link */
a:visited {
    color: #7AD50E;
	}

/* mouse over link */
a:hover {
    color: #AFDF72;
}

/* selected link */
a:active {
    color: #CEBA61;
}

a:-webkit-any-link
{
	color: "#8BE61F";
}