html
{
	background: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	color:#DDDDDD;
}

.background
{
	padding : 25px;
	border-radius: 5px;
	background: #FFFFFF15
}

#topo
{
	padding-left : 10px;
	
}

li.Disattivo {
    background: #FF3442;
	
	
}

li.Attivo {
    background: #9cdc74;
	color: #222222;
	margin-left: 15px;
}

li {
	position:relative;

    margin-bottom:  5px;
    border-radius: 5px;
    /*padding: 5px;
	padding-left: 15px;
	*/
	height: 40px;
	list-style-type: none;
	transition: background, margin-left  .1s ease-in;
    -moz-transition: background, margin-left .1s ease-in;
    -webkit-transition: background, margin-left .1s ease-in;
    -o-transition: background, margin-left .1s ease-in;
	
	background-blend-mode: multiply;
}

.fur
{
	position:relative;
	float: left;
	height: 90%;
	width: 6px;
	
	background-color: transparent;
	
	background-blend-mode: multiply;
	border-radius: 5px;
	opacity: 1.0;
	
	z-index: -1;
	margin-left: -5px;
	padding-top: 2px;
	padding-right: 13px;

	transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    -webkit-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
	
}

.Attivo .fur
{
	transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    -webkit-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
	opacity: 0.25;
}

.nome
{
	text-align: left;
	align-self: center;
}

h1
{
	color:#DDDDDD;
	text-align: center;
}